<body>
<div class="Upgrade">
  <h1 class="green shadow">Upgrades</h1>
  <h2 class="counter" style="width:100%">Counter: {{ data.click.counterStr }}</h2>
  <p id="addcounter" class="black">{{addcounter}} pro Sekunde</p>
  <p>Mitarbeiter arbeiten: {{mitarbeiterGesamt}}/Freie Mitarbeiter: {{mitarbeiter}}  </p>

  <table class="gebauede tab" style="width: 100%">
    <div class="tabs">
      <input type="radio" name="tab-btn" id="tab-btn-1" value="" />
      <label for="tab-btn-1">Wohnraum</label>

      <input type="radio" name="tab-btn" id="tab-btn-2" value="" checked />
      <label for="tab-btn-2">Arbeitstellen</label>

      <input type="radio" name="tab-btn" id="tab-btn-3" value="" />
      <label for="tab-btn-3">Infrastruktur</label>

      <div id="content-1"> <!--Wohnraum-->
      <div class="upgrade-left">
      <th class="black"> Preis: {{preis_zelt}}</th>
      </div>
        <label class="tooltip">
          <button type="button" class="tabcontent" id="zelt" (click)="zelt()">
            <th class="black zelt">Zelt:     
              {{data.wohnraum.zeltanzahl}}</th>
          </button>
          <div class="tip_container">
            <span class="tooltiptext">Tooltip text</span>
          </div></label>

          <div class="upgrade-right">
          <th class="black"> 2 Bewohner</th>
          </div>
        <br/>
        <div class="upgrade-left">
        <th class="black"> Preis: {{preis_bungalow}}</th>
        </div>
        <label class="tooltip">
          <button type="button" class="tabcontent" id="bungalow" (click)="bungalow()">
            <th class="black bungalow">Bungalow: {{data.wohnraum.bungalowanzahl}}</th>
          </button>
          <div class="tip_container">
            <span class="tooltiptext">Tooltip text</span>
          </div></label>
          <div class="upgrade-right">
          <th class="black"> 4B</th>
          </div>
        <br/>
        <div class="upgrade-left">
        <th class="black"> Preis: {{preis_haus}}</th>
        </div>
        <label class="tooltip">
          <button type="button" class="tabcontent" id="haus" (click)="haus()">
            <th class="black haus">Haus: {{data.wohnraum.hausanzahl}}</th>
          </button>
          <div class="tip_container">
            <span class="tooltiptext">Tooltip text</span>
          </div></label>
          <div class="upgrade-right">
          <th class="black"> 6B</th>
          </div>
          <br/>
          <div class="upgrade-left">
          <th class="black"> Preis: {{preis_einfamilienhaus}}</th>
          </div>
        <label class="tooltip">
          <button type="button" class="tabcontent" id="einfamilienhaus" (click)="einfamilienhaus()">
            <th class="black einfamilienhaus">Einfamilienhaus: {{data.wohnraum.einfamilienhausanzahl}}</th>
          </button>

          <div class="tip_container">
            <span class="tooltiptext">Tooltip text</span>
          </div></label>
          <div class="upgrade-right">
          <th class="black"> 12B</th>
          </div>
          <br />
          <div class="upgrade-left">
          <th class="black"> P:{{preis_mehrfamilienhaus}}</th>
          </div>
        <label class="tooltip">
          <button type="button" class="tabcontent" id="mehrfamilienhaus" (click)="mehrfamilienhaus()">
            <th class="black mehrfamilienhaus">Mehrfamilienhaus: {{data.wohnraum.mehrfamilienhausanzahl}}</th>
          </button>
          <div class="tip_container">
            <span class="tooltiptext">Tooltip text</span>
          </div></label>
          <div class="upgrade-right">
          <th class="black"> 30B</th>
          </div>
      </div>
      <div id="content-2"> <!--Arbeitstellen-->
        <div class="upgrade-left">
        <th class="black" > Preis: {{preis_fisch}}</th>
        </div>
        <div class="upgrade-mid">
        <label class="tooltip">
        
          <button type="button" class="tabcontent" id="fisch" (click)="fischer()" >
            <th class="black fischer">
              Fischer: {{ data.arbeitstellen.fischeranzahl }}
            </th>
          </button>

          
          <div class="tip_container">
            <span class="tooltiptext">Tooltip text</span>
          </div></label>
          <div class="upgrade-right">
          <th class="black " > 1kp/s</th>
          </div>
        <br />
        <div class="upgrade-left">
        <th class="black" > Preis: {{preis_feld}}</th>
        </div>
        <label class="tooltip">
          <button type="button" class="tabcontent" id="feld" (click)="feld()" >
            <th class="black feld">
              Feld: {{ data.arbeitstellen.feldanzahl }}
            </th>
          </button>
          <div class="tip_container">
            <span class="tooltiptext">Tooltip text</span>
          </div></label>
          <div class="upgrade-right">
          <th class="black " > 2kp/s</th>
          </div>
        <br/>
        <div class="upgrade-left">
        <th class="black" > Preis: {{preis_holzfaeller}}</th>
        </div>
        <label class="tooltip">
          <button type="button" class="tabcontent" id="holzfaeller" (click)="holzfaeller()">
            <th class="black holzfäller">Holzfäller: {{data.arbeitstellen.holzfaeller}}</th>
          </button>
          <div class="tip_container">
            <span class="tooltiptext">Tooltip text</span>
          </div></label>
          <div class="upgrade-right">
          <th class="black " > 5kp/s</th>
          </div>
          <br />
          <div class="upgrade-left">
          <th class="black" > Preis: {{preis_mine}}</th>
          </div>
        <label class="tooltip"><button type="button" class="tabcontent" id="mine" (click)="mine()">
            <th class="black mine">Mine: {{data.arbeitstellen.mine}}</th>
          </button>
          <div class="tip_container">
            <span class="tooltiptext">Tooltip text</span>
          </div></label>
          <div class="upgrade-right">
          <th class="black " > 15kp/s</th>
          </div>
          <br />
          <div class="upgrade-left">
          <th class="black" > Preis: {{preis_oel}}</th>
          </div>
        <label class="tooltip"><button type="button" class="tabcontent" id="oel" (click)="oel()">
            <th class="black öl">Öl: {{data.arbeitstellen.oel}}</th>
          </button>
          <div class="tip_container">
            <span class="tooltiptext">Tooltip text</span>
          </div></label>
          <div class="upgrade-right">
          <th class="black " > 30kp/s</th>
          </div>
      </div>
      </div>
      <div id="content-3"> <!--Infrastruktur-->
      <div class="upgrade-left">
      <th class="black" > P: {{preis_erdstrasse}}</th>
      </div>
        <label class="tooltip"><button type="button" class="tabcontent" id="erdstrasse" (click)="erdstrasse()">
            <th class="black erdstrasse">Erdstrasse: {{data.infrastruktur.erdstrasseanzahl}}</th>
          </button>
          <div class="tip_container">
            <span class="tooltiptext">Tooltip text</span>
          </div></label>
          <div class="upgrade-right">
          <th class="black " > 5%kp/s</th>
          </div>
        <br />
        <div class="upgrade-left">
        <th class="black" > P: {{preis_wasser}}</th>
        </div>
        <label class="tooltip"><button type="button" class="tabcontent" id="wasser" (click)="wasser()">
            <th class="black wasserversorgung">Wasserversorgung: {{data.infrastruktur.wasseranzahl}}</th>
          </button>
          <div class="tip_container">
            <span class="tooltiptext">Tooltip text</span>
          </div></label>
          <div class="upgrade-right">
          <th class="black"> 10%kp/s</th>
          </div>
        <br />
        
        <div class="upgrade-left">
        <th class="black" > P: {{preis_strom}}</th>
        </div>
        <label class="tooltip">
          <button type="button" class="tabcontent" id="strom" (click)="strom()">
            <th class="black strom">Strom: {{data.infrastruktur.stromanzahl}}</th>
          </button>
          <div class="tip_container">
            <span class="tooltiptext">Tooltip text</span>
          </div></label>
          <div class="upgrade-right">
          <th class="black"> 25%kp/s</th>
          </div><br />
          <div class="upgrade-left">
          <th class="black" > P: {{preis_strasse}}</th>
          </div>
        <label class="tooltip"><button type="button" class="tabcontent" id="strasse" (click)="strasse()">
            <th class="black straße">Straße: {{data.infrastruktur.strasseanzahl}}</th>
          </button>
          <div class="tip_container">
            <span class="tooltiptext">Tooltip text</span>
          </div></label>
          <div class="upgrade-right">
          <th class="black"> 50%kp/s</th>
          </div><br />
          <div class="upgrade-left">
          <th class="black" > P: {{preis_technik}}</th>
          </div>
        <label class="tooltip">
          <button type="button" class="tabcontent" id="technik" (click)="technik()">
            <th class="black WdT">Wunder der Technik: {{data.infrastruktur.technikanzahl}}</th>
          </button>
          <div class="tip_container">
            <span class="tooltiptext">Tooltip text</span>
          </div></label>
          <div class="upgrade-right">
          <th class="black"> 100%kp/s</th>
          </div>
        </div>
      
    </div>
  </table>

  <div id="faq">
  <button id="reset" class="faqbtn" (click)="reset()">Reset</button>
  <button id="hilfe" class="faqbtn">FAQ</button>
  </div>

</div>

</body>
