<div id="textfaq">
Drücke auf den Planeten, um Geld zu bekommen. Mit dem Geld kannst du dann Häuser kaufen, wodurch die Bevölkerung erhöht wird. Mit Bewohnern und Geld kannst du dir dann Arbeitsstätten kaufen, die dann für dich klicken.
<div class="closediv">
<button id="closebtn" (click)="faqclose()">Schließen</button>
</div>
</div>
<body>
<div class="Upgrade">
  <h1 class="green shadow">Upgrades</h1>
  <h2 class="counter" style="width:100%">Counter: {{ data.click.counterStr }}</h2>
  <p id="addcounter" class="black">{{addcounter}} pro Sekunde</p>
  <p>Mitarbeiter arbeiten: {{mitarbeiterGesamtStr}}/Freie Mitarbeiter: {{mitarbeiterStr}}  </p>

  <table class="gebauede tab" style="width: 100%">
    <div class="tabs">
      <input type="radio" name="tab-btn" id="tab-btn-1" value="" />
      <label for="tab-btn-1">Wohnraum</label>

      <input type="radio" name="tab-btn" id="tab-btn-2" value="" checked />
      <label for="tab-btn-2">Arbeitstellen</label>

      <input type="radio" name="tab-btn" id="tab-btn-3" value="" />
      <label for="tab-btn-3">Infrastruktur</label>

      <div id="content-1"> <!--Wohnraum-->
      <div class="upgrade-left">
      <th class="black"> Preis: {{preis_zelt}}</th>
      </div>
        <label class="tooltip">
        <div class="tip_container">
        <span class="tooltiptext">Nicht gerade groß, oder bequem, oder angenehm, aber Billig</span>
      </div>
          <button type="button" class="tabcontent" id="zelt" (click)="zelt()">
            <th class="black zelt">Zelt:     
              {{data.wohnraum.zeltanzahl}}</th>
          </button>
          </label>

          <div class="upgrade-right">
          <th class="black"> 2 Bewohner</th>
          </div>
        <br/>
        <div class="upgrade-left">
        <th class="black"> Preis: {{preis_bungalow}}</th>
        </div>
        <label class="tooltip">
        <div class="tip_container">
        <span class="tooltiptext">Ein Dach über den Kopf und 4 wände zum wohlfüllen</span>
      </div>
          <button type="button" class="tabcontent" id="bungalow" (click)="bungalow()">
            <th class="black bungalow">Bungalow: {{data.wohnraum.bungalowanzahl}}</th>
          </button>
          </label>
          <div class="upgrade-right">
          <th class="black"> 4B</th>
          </div>
        <br/>
        <div class="upgrade-left">
        <th class="black"> Preis: {{preis_haus}}</th>
        </div>
        <label class="tooltip">
        <div class="tip_container">
        <span class="tooltiptext">2 Etagen und ein Keller ist genug platz für Einige Leute</span>
      </div>
          <button type="button" class="tabcontent" id="haus" (click)="haus()">
            <th class="black haus">Haus: {{data.wohnraum.hausanzahl}}</th>
          </button>
         </label>
          <div class="upgrade-right">
          <th class="black"> 6B</th>
          </div>
          <br/>
          <div class="upgrade-left">
          <th class="black"> Preis: {{preis_einfamilienhaus}}</th>
          </div>
        <label class="tooltip">
        <div class="tip_container">
        <span class="tooltiptext">Genug platz für die Ganze familie inklusive Oma, Opa, Onkel, Tante…</span>
      </div>
          <button type="button" class="tabcontent" id="einfamilienhaus" (click)="einfamilienhaus()">
            <th class="black einfamilienhaus">Einfamilienhaus: {{data.wohnraum.einfamilienhausanzahl}}</th>
          </button>

          </label>
          <div class="upgrade-right">
          <th class="black"> 12B</th>
          </div>
          <br />
          <div class="upgrade-left">
          <th class="black"> P:{{preis_mehrfamilienhaus}}</th>
          </div>
        <label class="tooltip">
        <div class="tip_container">
        <span class="tooltiptext">Wer Bohrt da schonwieder!?</span>
      </div>
          <button type="button" class="tabcontent" id="mehrfamilienhaus" (click)="mehrfamilienhaus()">
            <th class="black mehrfamilienhaus">Mehrfamilienhaus: {{data.wohnraum.mehrfamilienhausanzahl}}</th>
          </button>
          </label>
          <div class="upgrade-right">
          <th class="black"> 30B</th>
          </div>
      </div>
      <div id="content-2"> <!--Arbeitstellen-->
        <div class="upgrade-left">
        <th class="black" > Preis: {{preis_fisch}}</th>
        </div>
        <div class="upgrade-mid">
        <label class="tooltip">
        <div class="tip_container">
        <span class="tooltiptext">Verbringt seine Zeit damit Seine Rute ins Wasser zu halten und versuchen nicht einzuschlafen</span>
      </div>
          <button type="button" class="tabcontent" id="fisch" (click)="fischer()" >
            <th class="black fischer">
              Fischer: {{ data.arbeitstellen.fischeranzahl }}
            </th>
          </button>

          
          </label>
          <div class="upgrade-right">
          <th class="black " > 1kp/s</th>
          </div>
        <br />
        <div class="upgrade-left">
        <th class="black" > Preis: {{preis_feld}}</th>
        </div>
        <label class="tooltip">
        <div class="tip_container">
        <span class="tooltiptext">Wer will denn nicht gerne den ganzen Tag im Dreck graben und sich um Tiere kümmern?</span>
      </div>
          <button type="button" class="tabcontent" id="feld" (click)="feld()" >
            <th class="black feld">
              Feld: {{ data.arbeitstellen.feldanzahl }}
            </th>
          </button>
          </label>
          <div class="upgrade-right">
          <th class="black " > 2kp/s</th>
          </div>
        <br/>
        <div class="upgrade-left">
        <th class="black" > Preis: {{preis_holzfaeller}}</th>
        </div>
        <label class="tooltip">
        <div class="tip_container">
        <span class="tooltiptext">
        Schwingt Äxte und ist der Offizielle Erzfeind von Greta Thunberg
        </span>
      </div>
          <button type="button" class="tabcontent" id="holzfaeller" (click)="holzfaeller()">
            <th class="black holzfäller">Holzfäller: {{data.arbeitstellen.holzfaeller}}</th>
          </button>
          </label>
          <div class="upgrade-right">
          <th class="black " > 5kp/s</th>
          </div>
          <br />
          <div class="upgrade-left">
          <th class="black" > Preis: {{preis_mine}}</th>
          </div>
        <label class="tooltip">
        <div class="tip_container">
        <span class="tooltiptext">Grabt auch im Dreck rum, aber Tiefer</span>
       </div>
      <button type="button" class="tabcontent" id="mine" (click)="mine()">
            <th class="black mine">Mine: {{data.arbeitstellen.mine}}</th>
          </button>
          </label>
          <div class="upgrade-right">
          <th class="black " > 15kp/s</th>
          </div>
          <br />
          <div class="upgrade-left">
          <th class="black" > Preis: {{preis_oel}}</th>
          </div>
        <label class="tooltip">
        <div class="tip_container">
        <span class="tooltiptext">Warte ab bis du einen Besuch von den USA bekommst</span>
          </div>
           <button type="button" class="tabcontent" id="oel" (click)="oel()">
            <th class="black öl">Öl: {{data.arbeitstellen.oel}}</th>
          </button>
          </label>
          <div class="upgrade-right">
          <th class="black " > 30kp/s</th>
          </div>
      </div>
      </div>
      <div id="content-3"> <!--Infrastruktur-->
      <div class="upgrade-left">
      <th class="black" > P: {{preis_erdstrasse}}</th>
      </div>
        <label class="tooltip">
        <div class="tip_container">
        <span class="tooltiptext">Man kann sich zumindest die Wege besser merken          </span>
         </div>
          <button type="button" class="tabcontent" id="erdstrasse" (click)="erdstrasse()">
            <th class="black erdstrasse">Erdstrasse: {{data.infrastruktur.erdstrasseanzahl}}</th>
          </button>
          </label>
          <div class="upgrade-right">
          <th class="black " > 5%kp/s</th>
          </div>
        <br />
        <div class="upgrade-left">
        <th class="black" > P: {{preis_wasser}}</th>
        </div>
        <label class="tooltip">
        <div class="tip_container">
        <span class="tooltiptext">Jetzt muss man zumindest nichtmehr zum Brunnen Laufen</span>
          </div>
          <button type="button" class="tabcontent" id="wasser" (click)="wasser()">
            <th class="black wasserversorgung">Wasserversorgung: {{data.infrastruktur.wasseranzahl}}</th>
          </button>
          </label>
          <div class="upgrade-right">
          <th class="black"> 10%kp/s</th>
          </div>
        <br />
        
        <div class="upgrade-left">
        <th class="black" > P: {{preis_strom}}</th>
        </div>
        <label class="tooltip">
        <div class="tip_container">
        <span class="tooltiptext">AC/DC für alle</span>
        </div>
          <button type="button" class="tabcontent" id="strom" (click)="strom()">
            <th class="black strom">Strom: {{data.infrastruktur.stromanzahl}}</th>
          </button>
          </label>
          <div class="upgrade-right">
          <th class="black"> 25%kp/s</th>
          </div><br />
          <div class="upgrade-left">
          <th class="black" > P: {{preis_strasse}}</th>
          </div>
        <label class="tooltip">
        <div class="tip_container">
        <span class="tooltiptext">Löst sich nichtmehr im Regen auf</span>
        </div>  
        <button type="button" class="tabcontent" id="strasse" (click)="strasse()">
            <th class="black straße">Straße: {{data.infrastruktur.strasseanzahl}}</th>
          </button>
          </label>
          <div class="upgrade-right">
          <th class="black"> 50%kp/s</th>
          </div><br />
          <div class="upgrade-left">
          <th class="black" > P: {{preis_technik}}</th>
          </div>
        <label class="tooltip">
        <div class="tip_container">
        <span class="tooltiptext">I´m with the science team</span>
        </div>
          <button type="button" class="tabcontent" id="technik" (click)="technik()">
            <th class="black WdT">Wunder der Technik: {{data.infrastruktur.technikanzahl}}</th>
          </button>
          </label>
          <div class="upgrade-right">
          <th class="black"> 100%kp/s</th>
          </div>
        </div>
      
    </div>
  </table>

 
    <div class="buttonscontrainer">
  <div id="faq">
  <button id="reset" class="faqbtn" (click)="reset()">Reset</button>
  <button id="hilfe" class="faqbtn" (click)="faqopen()">FAQ</button>
  </div>
</div>    
</div>

</body>
