
<h1>fsdfsgsdg </h1>

<div class="hinten">

<div class="fisch"> <img id="1fisch" src="https://i.ibb.co/TkhP4zJ/Angler.png" width="100px" height="100px" class="anzeigen"> </div>
<div class="fisch"> <img id="2fisch" src="https://i.ibb.co/TkhP4zJ/Angler.png" width="100px" height="100px" class="anzeigen"> </div>
<div class="fisch"> <img id="3fisch" src="https://i.ibb.co/TkhP4zJ/Angler.png" width="100px" height="100px" class="anzeigen"> </div>
<div class="fisch"> <img id="4fisch" src="https://i.ibb.co/TkhP4zJ/Angler.png" width="100px" height="100px" class="anzeigen"> </div>
<div class="fisch"> <img id="5fisch" src="https://i.ibb.co/TkhP4zJ/Angler.png" width="100px" height="100px" class="anzeigen"> </div>
<div class="fisch"> <img id="6fisch" src="https://i.ibb.co/TkhP4zJ/Angler.png" width="100px" height="100px" class="anzeigen"> </div>
<div class="fisch"> <img id="7fisch" src="https://i.ibb.co/TkhP4zJ/Angler.png" width="100px" height="100px" class="anzeigen"> </div>
<div class="fisch"> <img id="8fisch" src="https://i.ibb.co/TkhP4zJ/Angler.png" width="100px" height="100px" class="anzeigen"> </div>
<div class="fisch"> <img id="9fisch" src="https://i.ibb.co/TkhP4zJ/Angler.png" width="100px" height="100px" class="anzeigen"> </div>
<div class="fisch"> <img id="10fisch" src="https://i.ibb.co/TkhP4zJ/Angler.png" width="100px" height="100px" class="anzeigen"> </div>
</div>

<div class="hinten">
<div class="feld" ><img id="1feld" src="https://i.ibb.co/vQrk3Bc/Farmer.png" width="100px" height="100px" class="anzeigen"></div>
<div class="feld" ><img id="2feld" src="https://i.ibb.co/vQrk3Bc/Farmer.png" width="100px" height="100px" class="anzeigen"></div>
<div class="feld" ><img id="3feld" src="https://i.ibb.co/vQrk3Bc/Farmer.png" width="100px" height="100px" class="anzeigen"></div>
<div class="feld" ><img id="4feld" src="https://i.ibb.co/vQrk3Bc/Farmer.png" width="100px" height="100px" class="anzeigen"></div>
<div class="feld" ><img id="5feld" src="https://i.ibb.co/vQrk3Bc/Farmer.png" width="100px" height="100px" class="anzeigen"></div>
<div class="feld" ><img id="6feld" src="https://i.ibb.co/vQrk3Bc/Farmer.png" width="100px" height="100px" class="anzeigen"></div>
<div class="feld" ><img id="7feld" src="https://i.ibb.co/vQrk3Bc/Farmer.png" width="100px" height="100px" class="anzeigen"></div>
<div class="feld" ><img id="8feld" src="https://i.ibb.co/vQrk3Bc/Farmer.png" width="100px" height="100px" class="anzeigen"></div>
<div class="feld" ><img id="9feld" src="https://i.ibb.co/vQrk3Bc/Farmer.png" width="100px" height="100px" class="anzeigen"></div>
<div class="feld" ><img id="10feld" src="https://i.ibb.co/vQrk3Bc/Farmer.png" width="100px" height="100px" class="anzeigen"></div>

</div>
<div class="hinten">
  <div class="wald" ><img id="1wald" src="https://i.ibb.co/SV68ksd/Holzf-ller.png" width="100px" height="100px" class="anzeigen"></div>
  <div class="wald" ><img id="2wald" src="https://i.ibb.co/SV68ksd/Holzf-ller.png" width="100px" height="100px" class="anzeigen"></div>
  <div class="wald" ><img id="3wald" src="https://i.ibb.co/SV68ksd/Holzf-ller.png" width="100px" height="100px" class="anzeigen"></div>
  <div class="wald" ><img id="4wald" src="https://i.ibb.co/SV68ksd/Holzf-ller.png" width="100px" height="100px" class="anzeigen"></div>
  <div class="wald" ><img id="5wald" src="https://i.ibb.co/SV68ksd/Holzf-ller.png" width="100px" height="100px" class="anzeigen"></div>
  <div class="wald" ><img id="6wald" src="https://i.ibb.co/SV68ksd/Holzf-ller.png" width="100px" height="100px" class="anzeigen"></div>
  <div class="wald" ><img id="7wald" src="https://i.ibb.co/SV68ksd/Holzf-ller.png" width="100px" height="100px" class="anzeigen"></div>
  <div class="wald" ><img id="8wald" src="https://i.ibb.co/SV68ksd/Holzf-ller.png" width="100px" height="100px" class="anzeigen"></div>
  <div class="wald" ><img id="9wald" src="https://i.ibb.co/SV68ksd/Holzf-ller.png" width="100px" height="100px" class="anzeigen"></div>
  <div class="wald" ><img id="10wald" src="https://i.ibb.co/SV68ksd/Holzf-ller.png" width="100px" height="100px" class="anzeigen"></div>
  
  </div>
  <div class="hinten">
    <div class="mine" ><img id="1mine" src="https://i.ibb.co/vQrk3Bc/Farmer.png" width="100px" height="100px" class="anzeigen"></div>
    <div class="mine" ><img id="2mine" src="https://i.ibb.co/vQrk3Bc/Farmer.png" width="100px" height="100px" class="anzeigen"></div>
    <div class="mine" ><img id="3mine" src="https://i.ibb.co/vQrk3Bc/Farmer.png" width="100px" height="100px" class="anzeigen"></div>
    <div class="mine" ><img id="4mine" src="https://i.ibb.co/vQrk3Bc/Farmer.png" width="100px" height="100px" class="anzeigen"></div>
    <div class="mine" ><img id="5mine" src="https://i.ibb.co/vQrk3Bc/Farmer.png" width="100px" height="100px" class="anzeigen"></div>
    <div class="mine" ><img id="6mine" src="https://i.ibb.co/vQrk3Bc/Farmer.png" width="100px" height="100px" class="anzeigen"></div>
    <div class="mine" ><img id="7mine" src="https://i.ibb.co/vQrk3Bc/Farmer.png" width="100px" height="100px" class="anzeigen"></div>
    <div class="mine" ><img id="8mine" src="https://i.ibb.co/vQrk3Bc/Farmer.png" width="100px" height="100px" class="anzeigen"></div>
    <div class="mine" ><img id="9mine" src="https://i.ibb.co/vQrk3Bc/Farmer.png" width="100px" height="100px" class="anzeigen"></div>
    <div class="mine" ><img id="10mine" src="https://i.ibb.co/vQrk3Bc/Farmer.png" width="100px" height="100px" class="anzeigen"></div>
    
    </div>
    <div class="hinten">
      <div class="oel" ><img id="1oel" src="https://i.ibb.co/vQrk3Bc/Farmer.png" width="100px" height="100px" class="anzeigen"></div>
      <div class="oel" ><img id="2oel" src="https://i.ibb.co/vQrk3Bc/Farmer.png" width="100px" height="100px" class="anzeigen"></div>
      <div class="oel" ><img id="3oel" src="https://i.ibb.co/vQrk3Bc/Farmer.png" width="100px" height="100px" class="anzeigen"></div>
      <div class="oel" ><img id="4oel" src="https://i.ibb.co/vQrk3Bc/Farmer.png" width="100px" height="100px" class="anzeigen"></div>
      <div class="oel" ><img id="5oel" src="https://i.ibb.co/vQrk3Bc/Farmer.png" width="100px" height="100px" class="anzeigen"></div>
      <div class="oel" ><img id="6oel" src="https://i.ibb.co/vQrk3Bc/Farmer.png" width="100px" height="100px" class="anzeigen"></div>
      <div class="oel" ><img id="7oel" src="https://i.ibb.co/vQrk3Bc/Farmer.png" width="100px" height="100px" class="anzeigen"></div>
      <div class="oel" ><img id="8oel" src="https://i.ibb.co/vQrk3Bc/Farmer.png" width="100px" height="100px" class="anzeigen"></div>
      <div class="oel" ><img id="9oel" src="https://i.ibb.co/vQrk3Bc/Farmer.png" width="100px" height="100px" class="anzeigen"></div>
      <div class="oel" ><img id="10oel" src="https://i.ibb.co/vQrk3Bc/Farmer.png" width="100px" height="100px" class="anzeigen"></div>
      
      </div>



