<body>
  <div class="Upgrade">
    <h1 class="green shadow">Upgrades</h1>
    <h2 class="counter" style="width:100%">Counter: {{ counter }}</h2>
    <p>{{addcounter}} pro Sekunde</p>
    <p>Mitarbeiter arbeiten: {{mitarbeiterGesamt}}/Freie Mitarbeiter: {{mitarbeiter}}  </p>

    <table class="gebauede tab" style="width: 100%">
      <div class="tabs">
        <input type="radio" name="tab-btn" id="tab-btn-1" value="" />
        <label for="tab-btn-1">Wohnraum</label>

        <input type="radio" name="tab-btn" id="tab-btn-2" value="" checked />
        <label for="tab-btn-2">Arbeitstellen</label>

        <input type="radio" name="tab-btn" id="tab-btn-3" value="" />
        <label for="tab-btn-3">Infrastruktur</label>

        <div id="content-1">
        <div class="upgrade-left">
        <th class="black"> Preis: {{preis_zelt}}</th>
        </div>
          <label class="tooltip">
            <button type="button" class="tabcontent" (click)="zelt()">
              <th class="black zelt">Zelt:     
                {{data.wohnraum.zeltanzahl}}</th>
            </button>
            <div class="tip_container">
              <span class="tooltiptext">Tooltip text</span>
            </div></label>

            <div class="upgrade-right">
            <th class="black"> 2 Bewohner</th>
            </div>
          <br/>
          <label class="tooltip">
            <button type="button" class="tabcontent">
              <th class="black bungalow">Bungalow</th>
            </button>
            <div class="tip_container">
              <span class="tooltiptext">Tooltip text</span>
            </div></label>
          <br/>
          <label class="tooltip">
            <button type="button" class="tabcontent">
              <th class="black haus">Haus</th>
            </button>
            <div class="tip_container">
              <span class="tooltiptext">Tooltip text</span>
            </div></label>
            <br/>
          <label class="tooltip">
            <button type="button" class="tabcontent">
              <th class="black einfamilienhaus">Einfamilienhaus</th>
            </button>

            <div class="tip_container">
              <span class="tooltiptext">Tooltip text</span>
            </div></label>
            <br />
          <label class="tooltip">
            <button type="button" class="tabcontent">
              <th class="black mehrfamilienhaus">Mehrfamilienhaus</th>
            </button>
            <div class="tip_container">
              <span class="tooltiptext">Tooltip text</span>
            </div></label>
        </div>
        <div id="content-2">
          <div class="upgrade-left">
          <th class="black" > Preis: {{preis_fisch}}</th>
          </div>
          <div class="upgrade-mid">
          <label class="tooltip">
          
            <button type="button" class="tabcontent" (click)="fischer()">
              <th class="black fischer">
                Fischer: {{ data.arbeitstellen.fischeranzahl }}
              </th>
            </button>

            
            <div class="tip_container">
              <span class="tooltiptext">Tooltip text</span>
            </div></label>
            <div class="upgrade-right">
            <th class="black " > 1kp/s</th>
            </div>
          <br />
          <div class="upgrade-left">
          <th class="black" > Preis: {{preis_feld}}</th>
          </div>
          <label class="tooltip">
            <button type="button" class="tabcontent" (click)="feld()">
              <th class="black feld">
                Feld: {{ data.arbeitstellen.feldanzahl }}
              </th>
            </button>
            <div class="tip_container">
              <span class="tooltiptext">Tooltip text</span>
            </div></label>
            <div class="upgrade-right">
            <th class="black " > 2kp/s</th>
            </div>
          <br/>
          <label class="tooltip">
            <button type="button" class="tabcontent">
              <th class="black holzfäller">Holzfäller</th>
            </button>
            <div class="tip_container">
              <span class="tooltiptext">Tooltip text</span>
            </div></label><br />
          <label class="tooltip"><button type="button" class="tabcontent">
              <th class="black mine">Mine</th>
            </button>
            <div class="tip_container">
              <span class="tooltiptext">Tooltip text</span>
            </div></label><br />
          <label class="tooltip"><button type="button" class="tabcontent">
              <th class="black öl">Öl</th>
            </button>
            <div class="tip_container">
              <span class="tooltiptext">Tooltip text</span>
            </div></label>
        </div>
        </div>
        <div id="content-3">
        <div class="upgrade-left">
        <th class="black" > Preis: {{preis_erdstrasse}}</th>
        </div>
          <label class="tooltip"><button type="button" class="tabcontent" (click)="erdstrasse()">
              <th class="black erdstrasse">Erdstrasse: {{data.infrastruktur.erdstrasseanzahl}}</th>
            </button>
            <div class="tip_container">
              <span class="tooltiptext">Tooltip text</span>
            </div></label>
            <div class="upgrade-right">
            <th class="black " > 5%kp/s</th>
            </div>
          <br />
          <label class="tooltip"><button type="button" class="tabcontent">
              <th class="black wasserversorgung">Wasserversorgung</th>
            </button>
            <div class="tip_container">
              <span class="tooltiptext">Tooltip text</span>
            </div></label>
          <br />
          <label class="tooltip">
            <button type="button" class="tabcontent">
              <th class="black strom">Strom</th>
            </button>
            <div class="tip_container">
              <span class="tooltiptext">Tooltip text</span>
            </div></label><br />
          <label class="tooltip"><button type="button" class="tabcontent">
              <th class="black straße">Straße</th>
            </button>
            <div class="tip_container">
              <span class="tooltiptext">Tooltip text</span>
            </div></label><br />
          <label class="tooltip">
            <button type="button" class="tabcontent">
              <th class="black WdT">Wunder der Technik</th>
            </button>
            <div class="tip_container">
              <span class="tooltiptext">Tooltip text</span>
            </div></label>
          </div>
        
      </div>
    </table>
  </div>

</body>
