p {
  font-family: Lato;
}
.grid-container {
  float: left;
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100;
}

.randomcookie {
  position: absolute;
}

.randomearth {
  width: 100px;
}