.cookie_cont {
  width: 500px;
  height: 100vh;
  display: inline-block;
  background-image: url(https://media4.giphy.com/media/FlodpfQUBSp20/giphy.gif);
  text-align: center;
  position: relative;
}

.hidden {
  display: none;
}

.geld{
  position: absolute;
  top: 37px;
  width: 30px;
  height: auto;
}

#cookie {
  background-image: url('https://i.ibb.co/ZXv1d2h/Asghar-Asghar.gif');
  background-size: contain;
  color: #ffffff;
  font-family: Minecraftia;
  border-radius: 50%;
  cursor: pointer;
  width: 355px;
  position: relative;
  height: 355px;
  top: 50%;
  transition: 0.1s;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  z-index: 5;
}

#cookie:hover {
  width: 390px;
  height: 390px;
  z-index: 5;
  transition: 0.2s;
}
#cookie:active {
  width: 360px;
  height: 360px;
  transition: 0.1s;
}

.counter {
  color: rgb(255, 255, 255);
  font-family: Minecraftia;
  top: 15%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}

.aliens {
  background-image: url(https://i.gifer.com/ZKZv.gif);
  background-size: cover;
  width: 153px;
  height: 153px;
  margin-top: 51%;
  left: 49%;
  z-index: 6;
  position: absolute;
  pointer-events: none;
  user-select: none;
}

#aaa {
  transform: rotate(315deg);
  width: 140px;
  height: auto;
  position: absolute;
  z-index: 7;
  top: 30%;
  display: inline-block;
  left: 10%;
  user-select: none;
}

#cookie > .number {
  z-index: 99;
  font-size: 24px;
  position: absolute;
}


